<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuituidan.openhub.mapper.HomeMapper">

    <select id="selectAllApiLogCount" resultType="long">
        select count(*)
        from sys_entry_api_log;
    </select>

    <select id="selectAllPushLogCount" resultType="long">
        select count(*)
        from sys_push_log;
    </select>

    <select id="selectPushLogCount" resultType="long">
        select count(*)
        from sys_push_log
        where DATE_FORMAT(push_time, '%Y%m%d') = #{date} and status = #{status}
    </select>

    <select id="todayApiLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select hour(create_time) as xdata, count(*) as ydata
        from sys_entry_api_log
        where DATE_FORMAT(create_time, '%Y%m%d') = #{curDate}
        group by hour(create_time)
    </select>

    <select id="todayPushLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select app_id as id, hour(push_time) as xdata, count(*) as ydata
        from sys_push_log
        where DATE_FORMAT(push_time, '%Y%m%d') = #{curDate}
        group by app_id, hour(push_time)
    </select>

    <select id="lastMonthApiLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select DATE_FORMAT(create_time, '%m-%d') as xdata, count(*) as ydata
        from sys_entry_api_log
        where DATE_FORMAT(create_time, '%Y%m%d') >= #{lastMonthDate}
        group by DATE_FORMAT(create_time, '%m-%d')
    </select>

    <select id="lastMonthPushLogLine" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select app_id as id, DATE_FORMAT(push_time, '%m-%d') as xdata, count(*) as ydata
        from sys_push_log
        where DATE_FORMAT(push_time, '%Y%m%d') >= #{lastMonthDate}
        group by app_id, DATE_FORMAT(push_time, '%m-%d')
    </select>

    <select id="selectApiLogCount" resultType="com.tuituidan.openhub.bean.vo.LineData">
        select entry_api_id as id,count(*) as ydata from sys_entry_api_log
        GROUP BY entry_api_id;
    </select>

</mapper>
