<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuituidan.openhub.mapper.SysEntryApiLogMapper">

    <select id="selectList" parameterType="com.tuituidan.openhub.bean.entity.SysEntryApiLog"
            resultType="com.tuituidan.openhub.bean.vo.SysEntryApiLogView">
        SELECT id,
        entry_api_id,
        `path`,
        client_ip,
        status,
        create_time,
        update_time
        FROM sys_entry_api_log apiLog
        <where>
            <if test="entryApiId != null">
                AND entry_api_id = #{entryApiId}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="path != null and path != ''">
                AND `path` = #{path}
            </if>
            <if test="clientIp != null and clientIp != ''">
                AND client_ip = #{clientIp}
            </if>
        </where>
    </select>
</mapper>
